:root {
    --png-radius_100: 4px;
    --png-radius_200: 8px;
    --png-radius_300: 12px;
    --png-radius_400: 16px;
    --png-radius_500: 20px;
    --png-radius_600: 24px;
    --png-radius_700: 32px;
    --png-radius_800: 48px;
  }