:root {
    --png-spacing_0: 0;
    --png-spacing_1: 4px;
    --png-spacing_2: 8px;
    --png-spacing_3: 12px;
    --png-spacing_4: 16px;
    --png-spacing_5: 24px;
    --png-spacing_6: 32px;
    --png-spacing_7: 40px;
    --png-spacing_8: 48px;
    --png-spacing_9: 56px;
    --png-spacing_10: 64px;
  }