.png-checkbox {
  input {
    @apply h-5 w-5 rounded border-gray-300 text-primary focus:ring-primary;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  .disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
